.Dictionary h1,
h2,
h3 {
  font-family: 'Cairo', sans-serif;
  font-weight: bold;
}

.Dictionary section {
  margin: 20px 120px;
  border: 1px solid #87aaaa;
  box-shadow: 3px 3px 3px rgb(0 0 0 / 30%);
  border-radius: 6px;
  padding: 25px 25px;
  color: black;
  background: #c8e3d4;
}

.Dictionary label {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 20px;
  display: block;
  line-height: 29px;
  text-align: center;
}

.Dictionary form {
  display: flex;
  justify-content: center;
}

.Dictionary .search-input {
  display: block;
  font-size: 18px;
  color: gray;
  padding: 20px;
  border: 1px solid #dddddd;
  border-radius: 6px;
}

.Dictionary .hint {
  padding-top: 10px;
  font-size: 15px;
  text-align: center;
  opacity: 0.8;
}
